@import "tailwindcss";

@theme {
    --animate-float: float 3s ease-in-out infinite;
    --animate-scale-in: scaleIn 0.5s cubic-bezier(0.34, 1.56, 0.64, 1);
    --animate-fade-in: fadeIn 0.3s ease;

    @keyframes float {

        0%,
        100% {
            transform: translateY(0);
        }

        50% {
            transform: translateY(-10px);
        }
    }

    @keyframes scaleIn {
        0% {
            transform: scale(0);
            opacity: 0;
        }

        100% {
            transform: scale(1);
            opacity: 1;
        }
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }
}